<extend name="Common/basepage"/>
<block name="style"></block>
<block name="map"><span class="map">当前位置：</span><a href="__APP__">管理首页</a>><a href="{:U('Config/group')}">系统设置</a>><span><present name='data'>{$data.title} 子</present>菜单管理</span></block>
<block name="pagelink">
	<div class="pageUrl"><a href="{:U(ACTION_NAME)}" class="cur">菜单管理</a></div>
	<div class="soType clearfix">
    	<div class="row_r so_Form">
        	<a href="{:U('Menu/add?pid='.$pid)}">添加新菜单</a>
            <input type="text" name="sokey" id="sokey" class="so_input w150 h20" value="{:I('sokey')}" placeholder="请输入菜单名称">
            <input type="button" value="搜 索" id="search" class="so_btn w60 h20" url="{:U(ACTION_NAME)}&pid={$pid}"/>
        </div>
	</div>
</block>
<block name="body">
	<div class="listTable table_striped">
		<table>
			<thead>
			<tr>
				<th width="16%">名称</th>
				<th width="13%">上级菜单</th>
				<th width="12%">分组</th>
				<th width="20%">URL</th>
				<th width="13%">排序</th>
				<th width="6%">隐藏</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<form name="form1" id="form1" action="{:U('menu/resort')}" method="post">
            <notempty name="list">
                <volist name="list" id="menu">
                <tr>
                    <td class="tdlink"><a href="{:U('index?pid='.$menu['id'])}">{$menu.title}</a></td>
                    <td class="tdlink"><a href="{:U('index?pid='.$menu['up_pid'])}">{$menu.up_title|default='无'}</a></td>
                    <td>{$menu.group}</td>
                    <td>{$menu.url}</td>
                    <td><input type="text" name="sort_{$menu.id}" value="{$menu.sort}" class="reset_sort" onKeyUp="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/></td>
                    <td>{$menu.hide_text}</td>
                    <td class="editstyle"><a href="{:U('edit?id='.$menu['id'].'&pid='.$pid)}">编辑</a>|<a class="confirm" href="{:U('del?id='.$menu['id'].'&pid='.$pid)}">删除</a></td>
                </tr>
                </volist>
                <tr class="listpage">
                	<td colspan="9">
                    	<div class="action_page clearfix">
                        	<div class="action_btn row_l"><a href="{:U('Menu/add?pid='.$pid)}" class="w100 h25">添加新菜单</a><a href="javascript:sent_act('resort');" class="w100 h25">更改本页排序</a></div>
                            <div class="page_no row_r">{$_page}</div>
                            <input type="hidden" name="action" id="action"/>
                            <input type="hidden" name="pid" id="pid" value="{$pid}"/>
                        </div>
                    </td>
                </tr>
            <else/>
            	<tr><td colspan="9"><div class="no_data">暂无任何相关菜单</div></td></tr>
            </notempty>
            </form>
			</tbody>
		</table>
    </div>    	
</block>
<block name="script">
<script type="text/javascript">
$(function(){
 //搜索功能
	$("#search").click(function() {
		var url = $(this).attr('url');
		var query = $('.so_Form').find('input').serialize();
		query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
		query = query.replace(/^&/g, '');
		if (url.indexOf('?') > 0) {
			url += '&' + query;
		} else {
			url += '?' + query;
		}
		window.location.href = url;
	});
	//回车搜索
	$("#sokey").keyup(function(e) {
		if (e.keyCode === 13) {
			$("#search").click();
			return false;
		}
	});
	//左侧高亮
	highlight_subnav('{:U('index')}');
});
function sent_act(action){
	if (!action){
		alert('参数错误，请返回重新选择操作选项');
		return false;
	}
	$('#action').val(action);
	document.form1.submit();
}
</script>
</block>