<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$SiteTitle}</title>
<meta name="keywords" content="{$Keywords}"/>
<meta name="description" content="{$Description}"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" href="__COMMON__/widget/font-awesome/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/common.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="__COMMON__/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__COMMON__/script/global.js"></script>
<script type="text/javascript" src="__COMMON__/script/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<block name="style"></block>
</head>
<body>
<block name="body"></block>
<block name="script"></block>
</body>
</html>