<extend name="Common/basepage"/>
<block name="style"></block>
<block name="map"><span class="map">当前位置：</span><a href="__APP__">管理首页</a>><a href="{:U('Index/index')}">其他设置</a>><a href="{:U('index?type='.$type)}">{$Type_Config[$type]}管理</a>><span>添加{$Type_Config[$type]}</span></block>
<block name="pagelink">
	<div class="pageUrl"><a href="javascript:;" class="cur">{$page_tip.page_name}</a></div>
	<div class="soType clearfix">
    	<div class="row_r so_Form">
        <a href="{$Think.cookie.__forward__}" class="so_btn w100 h20">返回上一页</a>
        </div>
	</div>
</block>
<block name="body">
	<div class="fromTable">
    	<form name="form1" id="form1" action="{:U()}" method="post" onSubmit="return check_from()">
		<table>
         <tr>
				<td class="msg">分类：</td>
				<td class="inp">
                	<volist name='Status_Con' id='vo'>
                	<label class="f_label" for="status_{$key}"><input type="radio" id="status_{$key}" name="status" value="{$key}">{$vo}</label>
                    </volist>
                </td>
			</tr>
            
			<tr>
				<td class="msg" width="220">{$Type_Config[$type]}标题：</td>
				<td class="inp"><input type="text" name="title" id="title" class="f_input w400" value="{$info.title|default=''}" /><span class="f_tip" id="tip_title">( * 标题不能为空 )</span></td>
			</tr>
            <tr>
				<td class="msg">{$Type_Config[$type]}图片：</td>
				<td class="inp"><input type="text" name="pic" id="pic" class="f_input w300" value="{$info.pic|default=''}" />{$UploadPic_admin}</td>
			</tr>
            <tr>
				<td class="msg">通栏底色：</td>
				<td class="inp"><input type="text" name="pic2" id="pic2" class="f_input w300" value="{$info.pic2|default=''}" /><span class="f_tip" id="tip_title">( * 例如：#003366 留空为白色 )</span></td>
			</tr>
            <tr>
				<td class="msg">{$Type_Config[$type]}连接地址：</td>
				<td class="inp"><input type="text" name="url" id="url" class="f_input w400" value="{$info.url|default=''}" /><span class="f_tip" id="tip_url">( * 连接地址为空时图片无跳转链接 )</span></td>
			</tr>
			<tr class="listpage">
				<td colspan="2">
					<div class="action_page clearfix">
						<div class="action_btn row_l"><input type="hidden" name="sort" id="sort" class="f_input w60" value="{$info.sort|default='1'}" /><input type="hidden" id="type" name="type" value="{$info.type|default = $type}" /><input type="hidden" id="id" name="id" value="{$info.id|default = 0}" /><input type="submit" name="submit" id="submit" class="btn w100 h30" value="{$page_tip.btn_name}" /><a href="{$Think.cookie.__forward__}" class="w100 h30">返回列表</a></div>
					</div>
				</td>
			</tr>
		</table>
        </form>
    </div>	
</block>
<block name="script">
<script type="text/javascript">
	function check_from(){
		var title = $('#title').val();
		var url = $('#url').val();
		if (title == ''){
			form_inputMsg('title','标题不能为空,请输入标题','error');
			return false;
		}
		//if (url == ''){
		//	form_inputMsg('url','URL链接地址不能为空','error');
		//	return false;
		//}
	}
	Think.setValue("status", {$info.status|default = $status});
	highlight_subnav('{:U('index?type='.$type)}');
</script>
</block>